h2 {
	color: #505050;
	font-size: 40px;
}
.social {
	margin: 0 auto;
	width: 500px;
	text-align: center;
	padding: 50px;
}
.icon-btn {
	color: #FFFFFF;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	border: 0;
	margin: 10px;
	cursor: pointer;
	font-size: 40px;
}
.twitter {
	color: #4099FF;
}
.twitter:hover{
	background-color: #4099FF;
	color: white;
}
.facebook {
	color: #3B5998;
}
.facebook:hover {
	background-color: #3B5998;
	color: white;
}
.google-plus {
	color: #DB5A3C;
}
.google-plus:hover {
	background-color: #DB5A3C;
	color: white;
}
.instagram {
	color: #5C3D2E;
}
.instagram:hover {
	background-color: #5C3D2E;
	color: white;
}
.github {
	color: #4183C4;
}
.github:hover {
	background-color: #4183C4;
	color: white;
}
.icon-btn:hover {
	transform: scale(1.30);
}
